<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>DFReadinessTool</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="..//analysis.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>

</head>
<body onload="start()">
</br>
<h1>DigitalForensicReadinessTool</h1>
</br>
<div>
    <canvas id="myChart" style="width:80%;max-width:1000px; margin:0 auto ;"></canvas>
</div>
<a href="#col" class="btn btn-dark" data-toggle="collapse" id="moreInfo">More information</a>
<div id="col" class="collapse">
    <div class="jumbotron" id="analysis">
        <div id="information"></div>
    </div>
</div>
<div class="mb-4">
    </br>
    <hr class="solid">
</div>
<h2 id="Welcome" class="text-danger">Maturity Level</h2>

<div class="card-group">
    <div class="card bg-danger ">
        <div class="card-body text-center">
            <div class="display-5 text-light">Your achieved Level:</div>
            <p class="display-2 text-light" id="achievedLevel">4</p>
        </div>
    </div>
    <div class="card bg-light">
        <div class="col-ms">
            <ul class="nav nav-tabs" id="allLevels">
                <li class="nav-item">
                    <a id="navLevel1" class="nav-link text-dark" href="#level1">level 1</a>
                </li>
                <li class="nav-item">
                    <a id="navLevel2" class="nav-link text-dark" href="#level2">Level 2</a>
                </li>
                <li class="nav-item">
                    <a id="navLevel3" class="nav-link text-dark" href="#level3">Level 3</a>
                </li>
                <li class="nav-item">
                    <a  id="navLevel4" class="nav-link text-dark" href="#level4">Level 4</a>
                </li>
                <li class="nav-item">
                    <a id="navLevel5" class="nav-link text-dark" href="#level5">Level 5</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card bg-light">
        <div class="card-body text-center">
                <!-- Tab panes -->
                <div class="tab-content" id="showLevel">
                    <div id="level1" class="container tab-pane fade"></div>
                    <div id="level2" class="container tab-pane fade">
                    </div>
                    <div id="level3" class="container tab-pane fade"></div>
                    <div id="level4" class="container tab-pane fade">
                    </div>
                    <div id="level5" class="container tab-pane fade">
                    </div>
                </div>
        </div>
        </div>
    </div>
<a href="#indicator" class="btn btn-dark btn-block" data-toggle="collapse" id="checkIndicators">Check the indicators</a>
<div id="indicator" class="collapse">
    <div class="mb-4">
        </br>
        <hr class="solid">
    </div>
    <div id="tableNo">
        <div class="jumbotron">
            <table class="table">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="tableYes">
        <div class="jumbotron">
            <table class="table">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>
</div>
</body>
</html>