<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Swagger UI</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/swagger-ui-dist@3/swagger-ui.css" >
    <link rel="icon" type="image/png" href="https://editor.swagger.io/dist/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://editor.swagger.io/dist/favicon-16x16.png" sizes="16x16">
</head>

<body>
<div id="swagger-ui"></div>
<script src="https://unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"> </script>
<script type="text/javascript">
    window.onload = function() {
        // Swagger-ui configuration goes here.
        // See further: https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/configuration.md
        SwaggerUIBundle({
            deepLinking: true,
            dom_id: '#swagger-ui',
            showExtensions: true,
            showCommonExtensions: true,
            url: 'http://localhost:8080/openapi'
        });
    };
</script>
</body>
</html>