<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DFReadinessTool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
<div class="card">
    <img class="card-img-top" src="image/forensic.jpg" alt="Card image">
    <div class="card-img-overlay">
        </br>
        </br>
        <h1 id="Welcome2" class="display-3 text-light">Welcome</h1>
        </br>
        <p class="lead">
            <a id="a_button_id2" class="btn btn-light btn-lg" href="#" style="font-size:1em;" onclick="window.location.href='/DFRTool/evaluation'" role="button">Start DFReadiness Tool</a>
        </p>
    </div>
</div>
</body>
</html>