<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Privacy File Checker</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type = "text/javascript" src="survey.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
    <input id="hello" type="button" value="Hallo" />
    <input type="button" onclick="CreateTableFromJSON()" value="Create Table From JSON" />
    <p id="showData"></p>

</body>
</html>
<div id="wrapper">
    <label for="wrapper">Do you agree to the terms?</label>
    <p>
        <input type="radio" name="yes_no" checked>Yes</input>
        <input type="radio" name="yes_no">No</input>
    </p>
    <input type="submit" value="Submit">
</div>